@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
body {
	font-family: 'Crimson Text', serif;
	font-size:20px;
	color:#333;
	letter-spacing:1px;
	padding-bottom: 0 !important;
}
p {
	line-height: 1.5;
	margin: 0 0 20px;
}
a, img a, a img, button {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a:hover, img a:hover, a img:hover, button:hover {
}
.navbar {
	border: 0 solid transparent;
	margin-bottom: 0;
	min-height: inherit;
}
.navbar-brand {
	height: inherit;
	padding: 25px 0;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
/**/
.container-wrap {
	margin:0 auto;
	max-width:900px;
}
section {
	padding:35px 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: inherit;
	font-weight: normal;
	line-height: 1.4;
}
.navbar-default .navbar-nav > li > a {
	color: #2e4483;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > li > a:hover {
	background-color: #172857;
	color: #fff;
}
.dropdown-menu {
	background-clip: padding-box;
	background-color: #172857;
	border: medium none;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	display: none;
	float: left;
	font-size: 14px;
	left: 0;
	list-style: outside none none;
	margin: 2px 0 0;
	min-width: 100%;
	padding: 5px 0;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 1000;
}
.dropdown-menu > li > a {
	clear: both;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857;
	padding: 3px 20px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
}
.dropdown-menu > li > a:hover {
	background:#666666;
	color:#fff;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	width: 100%;
}
.carousel-caption {
	background: #172857 none repeat scroll 0 0;
	bottom: 0;
	font-size: 18px;
	font-weight: normal;
	left: 0;
	right: 0;
	color:#efefef;
}
.carousel-caption > p {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 35px;
}
.jumbotron {
	background: transparent none repeat scroll 0 0;
	margin: 0 auto;
	max-width: 900px;
	padding: 30px !important;
	text-align: center;
}
.jumbotron h3 {
	padding: 15px 0;
}
.dline {
	border-width: 3px;
	max-width: 300px;
}
.sline {
	border-width: 1px;
	max-width: 300px;
}
.blue-title {
	background: #172857 none repeat scroll 0 0;
	color: #efefef;
	font-size: 21px;
	text-transform:uppercase;
	line-height: 1;
	padding: 25px 20px 10px;
	margin-bottom:0;
	-webkit-border-top-right-radius: 35px;
	-moz-border-radius-topright: 35px;
	border-top-right-radius: 35px;
}
.blue-title hr {
	border-left-color: #efefef;
	border-right-color: #efefef;
	border-top-color: #efefef;
	border-width: 2px;
}
.blue-box {
	background: #efefef none repeat scroll 0 0;
	color: #172857;
	padding: 25px;
}
.btn {
	background: #172857 none repeat scroll 0 0;
	color: #efefef;
	font-weight: bold;
	text-transform: uppercase;
}
.btn:hover {
	background: #ccc none repeat scroll 0 0;
	color: #fff;
}
.blue-box .btn {
	margin-top: 10px;
}
.footer {
	font-size:15px;
}
.footer hr {
	border-color: #172857;
	border-width: 60px;
}
.logo-bottom {
	display:block;
}
.s-icon {
	margin: 0;
	padding: 30px 0;
	text-align:center;
}
.s-icon li {
	margin: 0 5px;
	padding: 0;
	list-style:none;
	display:inline-block;
}
.s-icon li a:hover {
	opacity:0.5;
}
.menu-bottom {
	font-size: 17px;
	font-weight: 600;
	padding-bottom: 25px;
}
.menu-bottom span {
	display: inline-block;
	padding: 0 5px;
}
.copy {
	color:#999;
	padding-bottom:30px;
	text-transform:uppercase;
	font-size:13px;
}
.navbar-nav > li {
}
.navbar-nav > li > .sub-menu {
	padding:0;
	margin:0;
	display:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.navbar-nav > li:hover > .sub-menu {
	padding:0;
	margin:0;
	display:block;
}
.navbar-nav > li > .sub-menu li {
	padding:0;
	list-style:none;
	margin:0;
}
.navbar-nav > li > .sub-menu li a {
	background: #172857 none repeat scroll 0 0;
	display: block;
	list-style: outside none none;
	margin: 0 0 1px;
	color:#fff !important;
	padding: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration:none !important;
}
.navbar-nav > li > .sub-menu li a:hover {
	background:#666 !important;
	color:#fff !important;
}
.navbar-nav > li > .sub-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 9999;
}
.navbar-nav > li > a {
	color: #172857;
	font-weight: normal;
	padding-bottom: 15px;
	padding-top: 15px;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li.current-menu-ancestor a, .navbar-nav > li.current-menu-parent a, .navbar-nav > li.current_page_parent a, .navbar-nav > li.current_page_ancestor a {
	background-color: #172857;
	border-color: transparent;
	color: #fff !important;
	text-shadow: none;
}
.dmbs-header-img {
	margin-top: 10px;
}
nav.navbar.navbar-default {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	box-shadow: none !important;
}
.logo {
	max-height: 75px;
	width: auto;
}
.logo-bottom {
	display: block;
	max-height: 75px;
	width: auto;
}
.footer {
	border-top: 60px solid #172856;
	text-align:center;
}
.bottomlogo {
	display: block;
	height: auto;
	margin: 25px auto 0;
	max-width: 165px;
}
.navbar-nav > li:hover > .dropdown-menu {
	display:block;
}
.caret {
	display: none;
}
@media all and (max-width:768px) {
 .dmbs-header {
 text-align:center;
}
 .topMenu li a {
 text-align: center;
}
.carousel-caption {
 position: relative !important;
}
.carousel-control {
 display: none;
}
}
.pgContent{padding-top:20px;}